#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5
#define SCROLL 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";

        lang2 {
            bindings = <&kp LANG2>;
            key-positions = <12 13>;
        };

        lang1 {
            bindings = <&kp LANG1>;
            key-positions = <17 18>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        lt_mouse: lt_mouse {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_MOUSE";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W       &kp E           &kp R        &kp T                                                    &kp Y      &kp U  &kp I      &kp O    &kp P
&lt 2 A           &kp S       &kp D           &kp F        &kp G                             &kp LBKT               &kp H      &kp J  &kp K      &kp L    &mt MINUS LEFT_CONTROL
&kp Z             &kp X       &kp C           &kp V        &kp B     &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp N      &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_CONTROL  &kp ESCAPE  &kp LEFT_SHIFT  &lt 1 SPACE  &mkp MB1  &mkp MB2                &kp BACKSPACE          &kp ENTER                             &kp INT1
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_1 {
            bindings = <
&trans   &kp LC(LS(HOME))          &kp UP_ARROW              &kp LC(END)               &trans                                                            &kp COMMA        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_PLUS
&kp TAB  &kp LEFT_ARROW            &kp DOWN_ARROW            &kp RIGHT_ARROW           &trans                                                &trans      &kp PERIOD       &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS
&trans   &kp LG(LC(LA(NUMBER_1)))  &kp LG(LC(LA(NUMBER_2)))  &kp LG(LC(LA(NUMBER_3)))  &kp LG(LC(LA(NUMBER_4)))  &kp LG(LC(LA(NUMBER_5)))    &trans      &kp NUMBER_0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_SLASH
&trans   &trans                    &trans                    &trans                    &trans                    &trans                      &kp DELETE  &kp RIGHT_SHIFT                                            &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_2 {
            bindings = <
&trans  &kp F7                   &kp F8                   &kp F9                   &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(KP_NUMBER_4)      &kp LS(LC(KP_NUMBER_5))  &kp LS(LC(KP_NUMBER_6))  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LS(LC(KP_NUMBER_1))  &kp LS(LC(KP_NUMBER_2))  &kp LS(LC(KP_NUMBER_3))  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                   &trans                   &trans                   &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
